body{
	background-color: #141414;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

pre
{
	background-color: inherit;
	color: inherit;
	border: none;
}

canvas:focus
{
	outline-width: 0px;
}

canvas
{
	border-radius: inherit;
}

#conteudo
{
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 20px;
	position: relative;
	width: 800px;
	border: 2px solid;
	border-color: #222222;
	border-radius: 4px;
}

#links
{
	margin: auto;
	margin-bottom: 5px;
	width:800px;
	border: none;
}

#cabecalho
{
	margin: auto;
	width: 800px;
	height: 170px;
	border-radius: 4px;
}

#eu
{
	width: 300px;
	height: 300px;
	border-radius: 4px;
}

#texto1
{
	position: absolute;
	margin-left: 340px;
	margin-right: 20px;
}

#myCarousel
{
	position: absolute;
	margin-left: 350px;
	margin-top: 30px;
	width: 400px;
	border-radius: 4px;
}

#texto-cppaint
{
	width: 320px;
}

#tutubarao
{
	margin: auto;
	background-color: #222222;
	width: 800px;
	border-radius: 4px;
}

#rodape
{
	margin: auto;
	background-color: inherit;
	width: 800px;
	height: 30px;
}